.friends-list {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.friend-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgb(212, 213, 214);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.name {
  max-width: 100px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
}

.status.green {
  background-color: green;
}

.status.red {
  background-color: red;
}
